html,body {
	background: url(background7.jpg);
	height: 105%;
}

body.my-booking-page {
	background-color: #f7f9fb;
	font-size: 14px;
}

.my-booking-page .brand {
	width: 110px;
	height: 110px;
	overflow: hidden;
	border-radius: 100%;
	margin: 40px auto;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	position: relative;
	z-index: 1;
}

.my-booking-page .brand img {
	width: 100%;
}

.my-booking-page .card-wrapper {
	width: 550px;
}

.my-booking-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.my-booking-page .card.fat {
	padding: 10px;
}

.my-booking-page .card .card-title {
	margin-bottom: 30px;
}

.my-booking-page .form-control {
	border-width: 2.3px;
}

.my-booking-page .form-group label {
	width: 100%;
}

.my-booking-page .btn.btn-block {
	padding: 12px 10px;
}

@media screen and (max-width: 425px) {
	.my-booking-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 390px) {
	.my-booking-page .card.fat {
		padding: 15px;
	}

	.my-booking-page .card.fat .card-body {
		padding: 15px;
	}
}

